<div class="container">
<!--
  <div class="alert alert-success" role="alert">
      Funcionário adicionado: <strong>{{nome}}</strong>
  </div>
  <div class="alert alert-success" role="alert">
    Funcionário adicionado via button: <strong>{{nome2}}</strong>
  </div>

  <div class="alert alert-success" role="alert" *ngIf="adicionado">
    Funcionário adicionado Diretiva - ngIf: <strong>{{nome2}}</strong>
  </div>

  <div class="form-group">
    <label >Nome</label>
    <input type="text" class="form-control" (input)="alterarNome($event)" [value]="nome"  #inputNome>
  </div>

  <div class="form-group">
    <label >Nome Two-Away Data Binding</label>
    <input type="text" class="form-control" [(ngModel)] = "nome">
  </div>

  <button type="button" class="btn btn-primary" [disabled]="nome.length == 0" (click)="adicionar()">Adicionar</button>
  <button type="button" class="btn btn-primary" (click)="adicionarNome(inputNome.value)">Adicionar Nome</button>


  <app-funcionario-form (funcionarioAdicionado)="aoAdicionar($event)"></app-funcionario-form>

</div>
<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-2" *ngFor="let f of funcionarios">
        <app-funcionario-card [funcionario]="f"></app-funcionario-card>
    </div>
  </div>
-->
<app-formulario></app-formulario>

</div>
